<div style="position:absolute;top:0;left:0;right:0;bottom:0;">
    <mat-toolbar color="primary" style="color:white" class="fixed-header" class="mat-elevation-z4">
        <!-- ommited -->
        <h1 class="title-center">Survey Management</h1>
        <div [ngStyle]="{'display' : (screenWidth > 840) ? 'none' : 'block'}">
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

        </div>

    </mat-toolbar>
    <mat-sidenav-container #sidenav class="side-nave-container">

        <mat-sidenav [mode]="(screenWidth > 840) ?'side':'Over'" [opened]="screenWidth > 840" #sidenav
            class="mat-sidenav">

            <mat-nav-list ui-sref-active="nav-active">
                <a mat-list-item [routerLink]="['createSurvey']">
                    <div style="margin-right:10px">
                        <mat-icon class="material-icons color_green">supervisor_account
                        </mat-icon>
                    </div>
                    <span class="navListTitle">Create Survey</span>
                    <div class="navImageright">
                        <mat-icon class="material-icons color_green">keyboard_arrow_right</mat-icon>
                    </div>
                </a>
            </mat-nav-list>
            <mat-nav-list ui-sref-active="nav-active">
                <a mat-list-item [routerLink]="['mySurvey']">
                    <div style="margin-right:10px">
                        <mat-icon class="material-icons color_green">supervisor_account
                        </mat-icon>
                    </div>
                    <span class="navListTitle">My Surveys</span>
                    <div class="navImageright">
                        <mat-icon class="material-icons color_green">keyboard_arrow_right</mat-icon>
                    </div>
                </a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item  [routerLink]="['../home']">
                    <div style="margin-right:10px">
                        <mat-icon class="material-icons color_green">logout
                        </mat-icon>
                    </div>
                    <span class="navListTitle">Log Out</span>
                    <div class="navImageright">
                        <mat-icon class="material-icons color_green">keyboard_arrow_right</mat-icon>
                    </div>
                </a>
            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>