
@import '~@angular/material/theming';
@import 'variables';

@include mat-core();
$custom-theme-primary: mat-palette($color-brand-green , 50);
$alt-accent:  mat-palette($mat-grey, 200);
$custom-theme: mat-light-theme($custom-theme-primary, $alt-accent);
@include angular-material-theme($custom-theme);



/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
